@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #d1e3e7, #41a4dd);
}

header {
  text-align: center;
  padding: 10px;
  background-color: #a3aaeb;
  background: radial-gradient(circle, #7d84b7, #8f98d1, #9bbced);
  border-radius: 7%;
  color: #fff;
  position: initial;
  width: 97%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: 10px;
  text-align: center;
}

li {
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.promo-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 6%;
  margin-top: 20px;
}

.promo-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
}

.oferta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fadeIn 1.5s ease-out forwards;
}

.oferta-flash {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  background: #ff4d4d;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  margin-top: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.oferta-flash .oferta-item {
  flex-basis: 100%;
  text-align: center;
}

.oferta-flash .oferta-imagen {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.oferta-flash img {
  margin-top: 20px;
  max-width: 50%;
  border-radius: 5px;
  width: 250px;
  height: auto;
}

.content {
  flex: 1; /* Empuja el footer hacia abajo */
}

footer {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    background-color: #6794ac;
    color: white;
  }

  .Contacto {
    text-align: left;
    margin-right: auto;
  }

  .footer-content {
    text-align: right;
    margin-left: auto;
    margin-top: 220px;
    background: radial-gradient(circle, #7d84b7, #8790ca, #93b9f2);
    border-radius: 2%;
  }

  button {
    background-color: #585a58;
    color: white;
    border: none;
    padding: 8px 17px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
  }

  button:hover {
    background-color: #3d6986;
  }

  .confirmation-message {
    display: none; /* Oculto por defecto */
    margin-bottom: 25px; 
    width: 100%; 
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre imágenes */
}

.image-container {
  width: 250px;
  text-align: center;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.image-container img {
  width: 250px; /* Tamaño ajustable */
  border-radius: 10px;
  display: block;
}

.title-overlay {
  position: absolute;
  top: 10px; /* Ajusta la posición */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
