@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #d1e3e7, #41a4dd);
}

header {
  text-align: center;
  padding: 0.3%;
  background-color: #a3aaeb;
  background: radial-gradient(circle, #7d84b7, #8f98d1, #9bbced);
  border-radius: 5%;
  color: #fff;
  position: initial;
  width: 99%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  width: 27%;
  height: 27%;
  margin-top: 10px;
  text-align: center;
}

li {
  margin-left: 5%;
  margin-top: 0.5%;
  text-align: center;
  font-size: 18px;
}

.promo-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5%;
  margin-top: 20px;
}

.promo-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
}

.oferta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fadeIn 1.5s ease-out forwards;
}

.oferta-flash {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  background: #ff4d4d;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  margin-top: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.oferta-flash .oferta-item {
  flex-basis: 100%;
  text-align: center;
}

.oferta-flash .oferta-imagen {
  flex-basis: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.oferta-flash img {
  margin-top: 0px;
  max-width: 50%;
  border-radius: 5px;
  width: 250px;
  height: auto;
}

.content {
  flex: 1; /* Empuja el footer hacia abajo */
}

footer {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    background-color: #6794ac;
    color: white;
  }

  .Contacto {
    text-align: left;
    margin-right: auto;
  }

  .footer-content {
    text-align: right;
    margin-left: auto;
    margin-top: 220px;
    background: radial-gradient(circle, #7d84b7, #8790ca, #93b9f2);
    border-radius: 2%;
  }

  button {
    background-color: #58585a;
    color: white;
    border: none;
    padding: 8px 17px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
  }

  button:hover {
    background-color: #3d6986;
  }

  .confirmation-message {
    display: none; /* Oculto por defecto */
    margin-bottom: 25px; 
    width: 100%; 
  }
}

.intro-text {
  font-size: 17px;
  color: #033881;
  text-align: center;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 3%;
  width: 85%; /* Asegura que ocupe más espacio */
  max-width: 700px; 
  margin: auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre imágenes */
}

.image-container {
  width: 250px;
  text-align: center;
}

.image-container img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 2.5%;
}

.image-container img {
  width: 250px; /* Tamaño ajustable */
  border-radius: 5%;
  display: flex;
}

.title-overlay {
  position: absolute;
  top: 0.1%; /* Ajusta la posición */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(67, 67, 67, 0.7); /* Fondo oscuro semitransparente */
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
}

.image-description {
  font-size: 16px; 
  color: #3e3e3e; /* Color del texto */
  text-align: center; 
  margin-top: 10px; 
  line-height: 1.5; 
  font-weight: 400; 
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.image-description {
  display: none; /* Inicialmente oculto */
}

.image-container.active .image-description {
  display: block; /* Mostrar cuando tenga la clase 'active' */
}

.image-container img {
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: opacity 0.3s ease-in-out; 
}

.image-container img:hover {
  opacity: 0.8; /* Reduce la opacidad al pasar el mouse */
}

.click-hint {
  position: absolute;
  bottom: 99%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.catalogo img {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 30%; 
  height: auto;
}
