header {
  text-align: center;
  padding: 20px;
  background-color: #8ab2bd;
  color: #fff;
  position: initial;
  width: 97%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: 10px;
  text-align: center;
}

li {
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  font-family: cursive;
}

.promo-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 6%;
}

.promo-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
}

.oferta-flash{
  display: flex;
  justify-content: center;
  justify-items: center;
  background: #ff4d4d;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.oferta-flash img{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 20%;
  height: auto;
}

.content {
  flex: 1; /* Empuja el footer hacia abajo */
}

footer {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
  }

  .Contacto {
      text-align: left;
  }

  .footer-content {
      text-align: right;
  }

  button {
    background-color: #585a58;
    color: white;
    border: none;
    padding: 8px 17px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
  }

  button:hover {
    background-color: #3d6986;
  }
}


.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre imágenes */
}

.image-container {
  width: 250px;
  text-align: center;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.image-container img {
  width: 250px; /* Tamaño ajustable */
  border-radius: 10px;
  display: block;
}

.title-overlay {
  position: absolute;
  top: 10px; /* Ajusta la posición */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}